index.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Kaka-Store">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Stationery">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Product-Id" type="xs:unsignedByte" />
              <xs:element name="Product-Name" type="xs:string" />
              <xs:element name="Quantity" type="xs:unsignedShort" />
              <xs:element name="Price-Per-Unit" type="xs:unsignedByte" />
              <xs:element name="Price-Per-Doz" type="xs:unsignedShort" />
              <xs:element name="In-Stock" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>